@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Oswald;
        src: url(/dist/fonts/Oswald/Oswald-Bold.ttf) format("truetype");
        }
    h1 {
    @apply mb-6 text-5xl;
    }
    h2 {
    @apply mb-3 text-3xl;
    }
    h3 {
    @apply mb-2 text-2xl;
    }
    
    p{
        @apply text-lg;
    }
   
}

@layer utilities {
    .bg-custom {
      background-color: rgba(231, 233, 235,1);
    }
    .bg-custom1 {
        background-color: rgba(96, 108, 56, 1);
        
  }
  .bg-custom2{
    background-color:rgba(96, 108, 56, 0.15)
  }
  .text-custom{
    color: rgba(254, 250, 224, 1);
  }
  
.text-custom1{
    color: rgba(40, 54, 24, 1);

}
.text-custom2{
    color: rgba(40, 54, 24, 0.35);

}
.text-custom3 {
  color: rgba(96, 108, 56, 1);
}
.text-custom4{
  color:rgba(0, 0, 0, 0.56);
}
.text-custom5 {
  color:rgba(249, 138, 7, 1);
}
.border-custom3{
  color:rgba(249, 138, 7, 1);
}
.border-custom{
border-color: rgba(148, 82, 4, 1);
}
.bg-custom3{
background-color: rgba(245, 245, 245, 1);
}
.border-custom1{
border-color:rgba(96, 108, 56, 1);
}
.border-custom2{
border-color: rgba(217, 217, 217, 0.6);
}
.bg-custom4{
  background-color:rgba(255, 255, 255, 1);
}
.bg-custom5{
 background-color:
 rgba(255, 216, 158, 0.33);
}
.bg-custom6{
  background-color:rgba(0, 109, 119, 0.5);
}
.border-custom6{
  border-color:rgba(0, 109, 119, 0.5);
}
.bg-custom7{
  background-color:rgba(255, 216, 158, 0.34);
}
.bg-custom8{
  background-color:rgb(206, 224, 226);

}
.bg-custom9{
  background-color:rgba(0, 109, 119, 1);
}
/* Add transitions to smoothly change the position of the dot */
.dot {
  transition: left 0.3s ease-in-out;
}

/* Define the animation for moving the dot */
@keyframes moveDot {
  from {
    left: 1px;
  }
  to {
    left: 29px;
  }
}

/* Apply the animation when the checkbox is checked */
#toggle:checked + .w-56 .dot {
  animation: moveDot 0.3s ease-in-out forwards;
}

}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/path/to/fonts/Inter-Regular.woff2') format('woff2');
  }
  
  .container svg {
    margin-right: 10px; 
}
.h-px{
  height: 428px;
}

.toggle-switch {
  cursor: pointer;
}

.toggle-label {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.label {
  z-index: 2;
}

.dot {
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  background-color: #fff;
  width: 3.75rem;
  height: 1.5rem;
  border-radius: 9999px;
  transition: transform 0.3s, background-color 0.3s;
  z-index: 1;
}

#toggleSwitch:checked ~ .toggle-label .dot {
  transform: translateX(118%);
  width: 4rem;
}

.animate-entry {
  animation: animateBarEntry 1.5s ease-out forwards;
  position: relative;
  z-index: 5;
}

.animate-entry3 {
  animation: animateBarEntry3 1.5s ease-out forwards;
  position: relative;
  z-index: 5;
  transform: translateY(15%);
}

@keyframes animateBarEntry {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  25% {
    transform: translateY(100%);
    opacity: 0;
  }
  26% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animateBarEntry3 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  25% {
    transform: translateY(100%);
    opacity: 0;
  }
  26% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(15%);
    opacity: 1;
  }
}

.animating-container {
  z-index: 0;
  position: relative;
}

.lb-list {
  z-index: 1;
  position: relative;
}